@model IssueTracker.Services.Models.CommentViewModel

<form asp-action="AddComment" method="post">
    <div class="form-group">
        <label asp-for="Text" class="control-label"></label>
        <textarea asp-for="Text" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input class="btn btn-default" type="submit" value="Add Comment" />
    </div>
</form>