@using IssueTracker.Services.Models.Project
@model IssueTracker.Services.Models.Project.ProjectViewModel

@{
    ViewBag.Title = "Create Project";
}

<h2>Create Project</h2>
<div class="row">
    <div class="col-md-6">
        <section>
            @Html.Partial("_ProjectForm", Model)
        </section>
    </div>   
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}