@model IssueTracker.Services.Models.Project.ProjectViewModel

@{
    ViewBag.Title = "Edit Project";
    ViewBag.ProjectId = Model.Id;
}

<h2>Edit Project</h2>
<div class="row">
    <div class="col-md-6">
        <section>
            @Html.Partial("_ProjectForm", Model)
        </section>
    </div>
    <div class="col-md-6">
        <label asp-for="Issues"></label>
        <section>
            <p>
                <a class="btn btn-primary" asp-action="Create" asp-controller="Issues" asp-route-projectId="@Model.Id" asp-route-id="@null">
                    Create New
                </a>
            </p>
            @if (Model.Issues.Any())
            {
                @Html.Partial("_Issues", Model.Issues)
            }
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
