@model IssueTracker.Services.Models.Issue.IssueViewModel

@{
    ViewBag.Title = "Edit Issue";
    ViewBag.IsNew = true;
}

<h2>Edit Issue</h2>
<div class="row">
    <div class="col-md-6">
        <section>
            @Html.Partial("_IssueForm", Model)
        </section>
    </div>
    <div class="col-md-6">
        <section>
            @await Component.InvokeAsync("Comment",
                new { Model.Comments, Model.CanComment, Model.CanDeleteComments })          
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}