@model IEnumerable<IssueTracker.Services.Models.Issue.IssueListModel>

@{
    ViewBag.Title = "Issues";
    ViewBag.WithProject = true;
}

<h2>All Issues</h2>
@await Html.PartialAsync("_Issues", Model)