@model IssueTracker.Services.Models.DashboardModel

@{
    ViewData["Title"] = "Dashboard";
    ViewBag.WithProject = true;
}

<h2>My Projects</h2>
@await Html.PartialAsync("_Projects", Model.Projects)

<h2>My Issues</h2>
@await Html.PartialAsync("_Issues", Model.Issues)
